* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  background: #fd8c00;
  width: 100%;
  height: 5.4735rem;
  display: flex;
}

.emailcabecalhoimg {
  margin-top: 49px;
  margin-left: 116px;
}

.emailcabecalho {
  margin-top: 50px;
  margin-left: 15px;
  font-size: 15px;
  color: #ffffff;
}

.phonecabecalhoimg {
  margin-top: 49px;
  margin-left: 116px;
}

.phonecabecalho {
  display: inline;
  margin-top: 50px;
  margin-left: 15px;
  white-space: nowrap;
  font-size: 15px;
  color: #ffffff;
}

.whatsappcabecalhoimg {
  margin-top: 49px;
  margin-left: 116px;
}

.whatsappcabecalho {
  margin-top: 50px;
  margin-left: 15px;
  white-space: nowrap;
  font-size: 15px;
  color: #ffffff;
}

.iconescabecalho {
  margin-top: 50px;
  margin-left: 400px;
}
